<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="dev.trifanya.swing_crudapp.mybatis.mapper.TaskMapper" alias="TaskMapper"/>
        <typeAlias type="dev.trifanya.swing_crudapp.mybatis.mapper.UserMapper" alias="UserMapper"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/nictp_db"/>
                <property name="username" value="postgres"/>
                <property name="password" value="My_passw0rd"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper class="dev.trifanya.swing_crudapp.mybatis.mapper.TaskMapper"/>
        <mapper class="dev.trifanya.swing_crudapp.mybatis.mapper.UserMapper"/>
    </mappers>

</configuration>